week-02/crypto price logger.json
{
  "name": "crypto price logger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9559545f-4d3b-4842-af81-13add9ed6a00",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "0d8334e8-afa7-4e8c-8f3e-61ebd27119a6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59cef4e0-8e99-43f9-ac90-74a947a6c3e5",
              "name": "=date",
              "value": "={ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "90be186f-054b-46ce-9215-040b0a93d603",
              "name": "time",
              "value": "={{ $now.toFormat('HH:mm') }} btc_price {{ $json.bitcoin.usd }}",
              "type": "string"
            },
            {
              "id": "b9c43f03-dbfe-4b7d-82cf-4c3bf5157379",
              "name": "btc_price",
              "value": "={{ $json.bitcoin.usd }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "434082f4-daf8-427a-9773-c208f536561c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Lnp-zu32XkzUcULx-cSu3kCuoPNr7GUd1shY0QwArxc",
          "mode": "list",
          "cachedResultName": "crypto logger",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lnp-zu32XkzUcULx-cSu3kCuoPNr7GUd1shY0QwArxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Lnp-zu32XkzUcULx-cSu3kCuoPNr7GUd1shY0QwArxc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.toFormat('yyyy-MM-dd') }}",
            "time": "={{ $now.toFormat('HH:mm') }}",
            "btc_price": "={{ $json.btc_price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "btc_price",
              "displayName": "btc_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "a8d0dce4-5cac-4b55-8ff4-be2c205f902b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XhPhIywbqG8xb8I9",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6f52703c-a60c-47db-a800-7a4e7f93c7c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a90b391207537e63c140fd5bb0eea9f52c674801bdc7bb2816f64e1699d2ebf"
  },
  "id": "OAM3mLSQ3F6uL3Ty",
  "tags": []
}