week-02/Email summarizer.json
{
  "name": "Email summarizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": []
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "750d302c-eabf-4e81-80a9-6e7a4d1facdb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "uYN9QspeB47AIw2V",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this email clearly and concisely.\n\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nFrom: {{ $('Gmail Trigger').item.json.from }}\nBody: {{ $('Gmail Trigger').item.json.snippet }}\n\nGive me:\n1. What the email is about\n2. Any action needed\n3. How urgent it is",
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "e8e28ad9-709a-494b-b07f-1c1b43957732",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        192
      ],
      "id": "b878c97c-9426-4dca-9d55-1b8c081c60f3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nLinHS4jooIL15s0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "feisaladen32@gmail.com",
        "subject": "email summary",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "8a629d1f-4b7d-42fd-a45c-bf0daec9c1e0",
      "name": "Send a message",
      "webhookId": "b5fc7570-2b32-4bfe-b596-c1791d6a356d",
      "credentials": {
        "gmailOAuth2": {
          "id": "uYN9QspeB47AIw2V",
          "name": "Gmail account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "47afc4fd-c265-46c4-bfe0-929e9128cbe1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a90b391207537e63c140fd5bb0eea9f52c674801bdc7bb2816f64e1699d2ebf"
  },
  "id": "i82wdQ0O3mhUeJsd",
  "tags": []
}