week-02/form submission with an email summarizer .json
{
  "name": "form-submission",
  "nodes": [
    {
      "parameters": {
        "formTitle": "software Development cohort interest form ",
        "formDescription": "register your interest for the next software development cohort",
        "formFields": {
          "values": [
            {
              "fieldLabel": " Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "phone number",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "email address",
              "fieldType": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        -64
      ],
      "id": "e32c3b88-dec4-4a22-9956-01b1d01368e9",
      "name": "On form submission",
      "webhookId": "8e5e4bcf-586a-48c2-a456-32bc5005638c"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1E8-ZDJAmkTZGtRTZsSZU-tHgLnhQcJnm0U62TZq42To",
          "mode": "list",
          "cachedResultName": "software dev cohort interest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E8-ZDJAmkTZGtRTZsSZU-tHgLnhQcJnm0U62TZq42To/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E8-ZDJAmkTZGtRTZsSZU-tHgLnhQcJnm0U62TZq42To/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full name": "={{ $json[' Full Name'] }}",
            "phone number": "={{ $json['phone number'] }}",
            "Email address": "={{ $json['email address'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full name",
              "displayName": "Full name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email address",
              "displayName": "Email address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        16
      ],
      "id": "7e1d49a6-f46c-462d-b17e-09fa5dc5c432",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h10xRvvS0oX3Qerp",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        432,
        32
      ],
      "id": "e9375ca0-6173-4e43-9b62-eadfcc0c537e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1E8-ZDJAmkTZGtRTZsSZU-tHgLnhQcJnm0U62TZq42To",
          "mode": "list",
          "cachedResultName": "software dev cohort interest",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E8-ZDJAmkTZGtRTZsSZU-tHgLnhQcJnm0U62TZq42To/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E8-ZDJAmkTZGtRTZsSZU-tHgLnhQcJnm0U62TZq42To/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        32
      ],
      "id": "2965256a-746b-4eef-8856-59a416617332",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h10xRvvS0oX3Qerp",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "feisaladen32@gmail.com",
        "subject": "Morning Briefing - software Dev Cohort Submission",
        "message": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        -48
      ],
      "id": "921f8e8f-3779-4062-af34-bb9c1756bc2b",
      "name": "Send a message",
      "webhookId": "78951528-2b2e-482e-aba3-6234a6ebeb53",
      "credentials": {
        "gmailOAuth2": {
          "id": "uYN9QspeB47AIw2V",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openrouter/auto\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a helpful admin assistant supporting an educational institution. Review these student interest submissions for the upcoming Software Development Cohort and prepare a brief, well-structured morning report for the admin team. Keep the tone warm, professional and human. Highlight the total number of interested students, list their names and contact details clearly, and close with a short note to help the team plan their day.\\n\\nHere are today's submissions:\\n{{ $input.all().map(item => '- Name: ' + item.json['Full Name'] + ', Phone: ' + item.json['Phone Number'] + ', Email: ' + item.json['Email Address']).join('\\\\n') }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        32
      ],
      "id": "3efb165a-2818-4b07-b3d6-80202b17bde3",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11fb8619-c774-4464-939d-0f90f3314b8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a90b391207537e63c140fd5bb0eea9f52c674801bdc7bb2816f64e1699d2ebf"
  },
  "id": "U7pW0SzJLJJgPL37",
  "tags": []
}